@import "./../../../assets/styles/theme.scss";
@import "./../../../assets/styles/mixin.scss";

.form-card {
  border-radius: 0;
  box-shadow: none;
  background-color: rgba($background-form, 0.9);

  .card-header {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }

  .content {
    display: flex;
    align-items: end;
    justify-content: center;

    @include width-tiny {
      flex-direction: column;
    }
  }

  .form-wrap {
    --gap: 16px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
    justify-content: center;

    &>* {
      display: flex;

      @include width-tiny {
        flex-wrap: wrap;
        justify-content: center;
      }

      &>* {
        margin: var(--gap) 0 0 var(--gap);

        @include width-tiny {
          margin: 0;
        }
      }
    }
  }

  .icon {
    height: 16px;
    width: 16px;

    &.user {
      margin-left: 20px;
    }
  }

  .icon-btn {
    min-width: 36px;
    max-height: 36px;
    height: 36px;
    background-color: $btn-background-blue;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    margin-left: 16px;

    @include width-tiny {
      margin: 0 auto;
    }
  }

  .mat-button-disabled {
    opacity: 0.6;
  }
}
