<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-card class="form-card" *ngIf="flightCity.length">
    <div class="card-header">Wyszukaj loty</div>
    <mat-card-content class="content">
      <app-select
        placeholder="Miejsce wylotu"
        [list]="flightCity"
        (selectionChange)="setCity($event, 'departure')"
      >
      </app-select>
      <app-select
        placeholder="Miejsce przylotu"
        [list]="flightCity"
        (selectionChange)="setCity($event, 'arrival')"
      >
      </app-select>
  
      <app-datepicker
        placeholder="data wylotu"
        (selectDate)="setDepartureDate($event)"
      >
      </app-datepicker>
  
      <app-datepicker
        placeholder="data powrotu"
        [minDate]="minDate"
        [error]="errorReturnDate"
        [disabled]="!form.get('departureDate')?.value.length"
        (selectDate)="setReturnDate($event)"
      >
      </app-datepicker>
  
      <button class="form-card icon-btn" [disabled]="!form.valid" mat-button>
        <mat-icon
          svgIcon="search"
          class="icon"
          aria-hidden="false"
          aria-label="search SVG icon"
        ></mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</form>
