<form class="search-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-card class="form-card" *ngIf="flightCity.length">
    <div class="card-header">Wyszukaj loty</div>
    <mat-card-content class="content">
      <div class="form-wrap">
        <div>
          <app-select
            placeholder="Miejsce wylotu"
            [list]="flightCity"
            (selectionChange)="setCity($event, 'departure')"
          ></app-select>
          <app-select
            placeholder="Miejsce przylotu"
            [list]="flightCity"
            (selectionChange)="setCity($event, 'arrival')"
          ></app-select>
        </div>
        <div>
          <app-datepicker
            placeholder="Data i godzina wylotu"
            (selectDate)="setDepartureDate($event)"
          ></app-datepicker>
          <app-datepicker
            placeholder="Data i godzina przylotu"
            [minDate]="minDate"
            [error]="errorarrivalDate"
            [disabled]="!form.get('departureDate')?.value.length"
            (selectDate)="setarrivalDate($event)"
          ></app-datepicker>
        </div>
      </div>
      <button class="form-card icon-btn" [disabled]="!form.valid" mat-button>
        <mat-icon
          svgIcon="search"
          class="icon"
          aria-hidden="false"
          aria-label="search SVG icon"
        ></mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</form>
