@import "./../../../assets/styles/theme.scss";
@import "./../../../assets/styles/mixin.scss";

:host {
  display: flex;
  justify-content: space-between;

  &>* {
    width: calc(50% - 23px);
  }


  @include width-medium {
    flex-direction: column;

    &>* {
      width: 100%;
    }
  }
}
