@import "./../../../assets/styles/theme.scss";
@import "./../../../assets/styles/mixin.scss";

:host {
  width: auto;
  max-width: 200px;
  display: flex;
  flex: 1;
  flex-direction: column;

  .error {
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    width: 100%;
    color: $error-color-datepicker;
  }

  .label {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }


  ::ng-deep {
    .datepicker-form {
      height: 34px;
      width: 198px;
      border-radius: 0px !important;
      border: 1px solid $border-color-datepicker;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      background: $background-color-datepicker;
      position: relative;

      .icon {
        top: 50%;
        right: 8px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        height: 16px;
        width: 16px;
        line-height: 16px;
      }

      @include width-small {
        width: 158px;
        max-width: 158px;
      }

      @include width-tiny {
        width: 198px;
        max-width: 198px;
      }

      &.form-error {
        border: 1px solid $error-color-datepicker;

        .mat-datepicker-toggle-default-icon,
        .mat-input-element {
          color: $error-color-datepicker !important;
        }
      }

      &.mat-form-field-disabled {
        opacity: 0.5;
      }

      .mat-select-value {
        color: $color-datepicker-value;
      }

      .mat-form-field-label-wrapper,
      .mat-input-element {
        line-height: 36px;
        margin: 0;
        top: 0;
        padding: 0;
        margin-left: 10px;

        .mat-form-field-label {
          top: 0;
        }
      }

      .mat-input-element {
        padding-left: 10px;
        width: calc(100% - 10px);
        color: $color-datepicker-value;
      }

      .mat-form-field-suffix {
        padding-right: 5px;
      }

      .mat-button-wrapper {
        background: $background-color-datepicker;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-datepicker-toggle-default-icon {
        width: 1.3em;
        color: $color-datepicker-icon;
      }

      .mat-form-field-flex {
        height: calc(36px - 2px);
      }

      .mat-form-field-infix {
        padding: 0 !important;
        margin: 0 !important;
        line-height: 34px;
        border: none;
      }

      .mat-form-field-wrapper {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  @include width-small {
    width: 160px;
    max-width: 160px;
  }

  @include width-tiny {
    width: 200px;
    max-width: 200px;
  }
}
