<span class="label" *ngIf="labelName.length">{{ labelName }}</span>
<mat-form-field
  class="datepicker-form"
  [class.form-error]="error.length"
  (click)="picker.open()"
>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    matInput
    autocomplete="off"
    [min]="minDate"
    [disabled]="disabled"
    [value]="date"
    [ngxMatDatetimePicker]="picker"
    (dateChange)="dateChange($event.value)"
  />
  <mat-icon
    svgIcon="datetime"
    class="icon"
    aria-hidden="false"
    aria-label="shopping cart SVG icon"
  ></mat-icon>

  <ngx-mat-datetime-picker
    [stepHour]="1"
    [stepMinute]="5"
    #picker
  ></ngx-mat-datetime-picker>
</mat-form-field>
<div class="error">{{ error }}</div>
