<p class="navbar">
  <mat-toolbar>
    <span class="group-btn">
      <button class="navbar-btn" mat-button>Loty</button>
      <button class="navbar-btn" mat-button>Rezerwacja</button>
    </span>
    <span class="navbar-spacer"></span>
    <button class="navbar-btn icon-btn" mat-button>
      <mat-icon
        svgIcon="shopping-cart"
        class="icon"
        aria-hidden="false"
        aria-label="shopping cart SVG icon"
        [matBadge]="bookingFlight$ | async"
        matBadgeColor="warn"
        matBadgeSize="small"
      ></mat-icon>
    </button>
    <button class="navbar-btn text-icon" mat-button>
      <span class="text"> Jan Kowalski </span>
      <mat-icon
        svgIcon="user-icon"
        class="user icon"
        aria-hidden="false"
        aria-label="user SVG icon"
      ></mat-icon>
    </button>
  </mat-toolbar>
</p>
