@import "./../assets/styles/theme.scss";
@import "./../assets/styles/mixin.scss";

:host {
  position: fixed;
  width: 100%;
  height: 50%;
  background: url("/assets/icon/background.svg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;


  .container {
    margin: 0 auto;
    max-width: 940px;
    height: 100vh;
  }

  .footer {
    background-color: $footer-background;
    height: 60px;
    font-size: 12px;
    line-height: 60px;
    font-weight: 700;
    color: $footer-color;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    @include width-medium {
      margin-top: 0;
    }
  }
}
