@import "./../assets/styles/theme.scss";

:host {
  position: fixed;
  width: 100%;
  height: 50%;
  background: url("/assets/icon/background.svg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 0 250px;
}
