<span class="label" *ngIf="labelName.length">{{ labelName }}</span>
<mat-form-field
  class="select"
  [class.form-error]="error.length"
  appearance="outline"
>
  <mat-select
    [placeholder]="placeholder"
    [disabled]="disabled"
    [(value)]="selected"
    on-blur="onFocus.emit(true)"
    (selectionChange)="selecting($event.value)"
  >
    <ng-container *ngFor="let item of list">
      <mat-option
        class="custom-option"
        [disabled]="item.disabled"
        [value]="item.key"
      >
        <ng-container *ngIf="item.name !== item.key; else itemKey">
          {{ item.name }} ({{ item.key }})
        </ng-container>
        <ng-template #itemKey>{{ item.key }}</ng-template>
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
<span class="error">{{ error }}</span>
