<mat-card class="list-card">
  <div class="card-header">Lista lotów</div>
  <mat-card-content #contentList class="content">
    <mat-list [class.min-list]="isMinSize" role="list">
      <ng-container *ngFor="let item of flightList$ | async">
        <mat-list-item role="flightList" (click)="selectItem(item)">
          <div class="wrap-item">
            <span class="item">
              {{ isMinSize ? item.departureKey : item.departure }}
            </span>
            <span class="item arrow">
              <mat-icon
                svgIcon="arrow-left"
                class="icon"
                aria-hidden="false"
                aria-label="arrow left SVG icon"
              ></mat-icon>
              <mat-icon
                svgIcon="arrow-right"
                class="icon"
                aria-hidden="false"
                aria-label="arrow right SVG icon"
              ></mat-icon>
            </span>
            <span class="item">
              {{ isMinSize ? item.arrivalKey : item.arrival }}
            </span>
            <span class="item date">
              {{ item.departureDate }} {{ item.departureTime }}
            </span>
            <span class="wrap-icon">
              <mat-icon
                svgIcon="arrow-right-8"
                class="icon"
                aria-hidden="false"
                aria-label="arrow right SVG icon"
              ></mat-icon>
            </span>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <button class="list-card-btn" (click)="nextPage()" mat-button>
      Załaduj więcej
    </button>
  </mat-card-content>
</mat-card>
