/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane {
  margin-top: 35px;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  height: 36px !important;
  line-height: 36px !important;
}