@import './theme.scss';

@mixin btn() {
  min-width: 159px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  border-radius: 0;
  padding: 10px 0;
  margin: 0 8px;

  @include width-small {
    min-width: 130px;
  }
}

$width-tiny: 360px;
$width-small: 580px;
$width-medium: 940px;

@mixin width-tiny {
  @media (max-width: #{$width-tiny - 1px}) {
    @content;
  }
}

@mixin width-small {
  @media (max-width: #{$width-small - 1px}) {
    @content;
  }
}

@mixin width-medium {
  @media (max-width: #{$width-medium - 1px}) {
    @content;
  }
}
