/* palette */
$red-primary: #BA0000;
$white: #FFFFFF;;
$black: #000000;
$gray: #989898;
$blue-primary: #47A7FF;
$blue-secondary: #319CFF;

/* navbar */
$background-navbar: $blue-primary;
$color-navbar: $white;
$btn-background-navbar: $blue-secondary;

/* form */
$background-form: $white;

/* select */
$border-color-select: $blue-primary;
$color-selected-value: $blue-primary;
$disabled-border-color-select: $gray;
$background-color-select: $white;

/* datepicker */
$border-color-datepicker: $blue-primary;
$error-color-datepicker: $red-primary;
$color-datepicker-value: $blue-primary;
$color-datepicker-icon: $blue-primary;
$disabled-border-color-datepicker: $gray;
$background-color-datepicker: $white;

/* btn */
$btn-background-blue: $blue-secondary;
$btn-color-blue: $blue-secondary;

/* list */
$list-icon-border-color: $black;

/* footer */
$footer-background: $blue-secondary;
$footer-color: $white;
