/* palette */
$red-primary: #BA0000;
$white: #FFFFFF;
;
$black: #000000;
$gray: #989898;
$gray-secondary: #F8F8F8;
$blue-primary: #47A7FF;
$blue-secondary: #319CFF;

/* navbar */
$background-navbar: $blue-primary;
$color-navbar: $white;
$btn-background-navbar: $blue-secondary;

/* form */
$background-form: $white;

/* select */
$border-color-select: $blue-primary;
$color-selected-value: $blue-primary;
$disabled-border-color-select: $gray;
$background-color-select: $white;
$error-color-select: $red-primary;

/* input */
$border-color-input: $blue-primary;
$color-input-value: $blue-primary;
$color-placeholder-value: rgba($black, .6);
$disabled-border-color-input: $gray;
$background-color-input: $white;
$error-color-input: $red-primary;

/* datepicker */
$border-color-datepicker: $blue-primary;
$error-color-datepicker: $red-primary;
$color-datepicker-value: $blue-primary;
$color-datepicker-icon: $blue-primary;
$disabled-border-color-datepicker: $gray;
$background-color-datepicker: $white;

/* btn */
$btn-background-blue: $blue-secondary;
$btn-color-blue: $blue-secondary;
$btn-color-white: $white;

/* list */
$list-icon-border-color: $black;
$list-item-n2-background-color: $gray-secondary;

/* footer */
$footer-background: $blue-secondary;
$footer-color: $white;
